
/*ipad and above*/

@media only screen and  (min-width:768px) {
.ui-icon-rgtnow{
    background:url(../img/iconlarge-set.png) no-repeat -3px -230px #D72135; 
    }
.ui-body-c .ui-link.ui-icon-rgtnow, .ui-body-c .ui-link.ui-icon-laton{ 
    padding:35px;text-indent: 140px;
    font-size: 2.5em;
    }
.ui-icon-laton{
    background:url(../img/iconlarge-set.png) no-repeat -3px -380px #D72135; 
    }
.ui-icon-avat .ui-shadow-inset{
    background: url("../img/iconlarge-set.png") no-repeat scroll -27px -19px;
    }
.ui-mobile-viewport .ui-input-text{ 
    padding-left:3em; font-size: 1.25em;
    }
.ui-icon-pass .ui-shadow-inset{
    background: url("../img/iconlarge-set.png") no-repeat scroll -27px -129px;
    }
.context-holder{
    width: 380px;
    margin:0 auto;
    }
.context-holder h2{
    font-size: 2.5em;
    }
.context-holder span{
    font-size: 1.8em;
    }
.ui-login-but, .ui-reset span.ui-btn-inner{
    background: url("../img/iconlarge-set.png") no-repeat scroll 804px -522px #D62135;
    }
.ui-login-but, .ui-reset span.ui-btn-inner{
    padding:14px 0;
    font-size: 2em;
    }
.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner{
    font-size: 1.5em;
    }
.cont-rigtnow-lateron .context-holder{
    width:auto; font-size: 1.5em;
    }
.cont-findroom-inner .context-holder{
    width:auto; font-size: 1.5em;
    }
.cont-findroom-inner label{font-size: 1.5em}
.endofresult-inner .context-holder{
    width:auto; font-size: 1.5em;
    }
.endofresult-inner #list_item div{
    font-size: 1.5em;
    }
.endofresult-inner .end-res{font-size: 1.5em}
.ui-mobile-viewport .ui-header.ui-bar-a{
    padding:0;
    height: 84px;
    }
.mob-hd{ 
    display:none;
    }
.tab-hd{ 
    display:block; 
    width: auto; 
    height:auto;
    margin:0 auto;
    top:0;
    } 
.ui-mobile-viewport .ui-header .ui-title{
    height:70px;
    font-size: 34px;
    line-height: 84px;
    }  
.ui-btn-back.ui-shadow{
     margin-top:17px;
    }
.ui-body-c .ui-link.ui-run-btn { font-size: 1.7em}
span.search{
    background: url("../img/iconlarge-set.png") no-repeat scroll -18px -627px;
    }
.ui-body-c .ui-link.ui-run-btn span.search, .book-room, .success{
    height: 53px;
    margin-top: -14px;
}
.details-room-cap, .details-room-avb{ font-size: 1.5em;}
.ui-header img{ top:7%;}
.context-holder.con-adj{ width:auto; font-size: 1.5em;}
.ui-body-c .ui-link.ui-run-btn span.search, .book-room, .success{ margin-top:-8px;}
.span.success{ padding-top:10px;}

.privacy-policy p{ font-size: 1.5em;}
.more-info h2{font-size: 2em;}
.more-info p{font-size: 1.5em;}

span.book-room {
    background: url("../img/iconlarge-set.png") no-repeat scroll -32px -718px;
    margin-left: 20px;
    }
span.success {
    background: url("../img/iconlarge-set.png") no-repeat scroll -32px -802px;
    margin-left: 20px;
    }




}



