body {
	font-family: Helvetica, san-serif;
	font-size:1em;
	color: #898888;
	margin:0;
	background-color:#FFF;
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none; 	
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
}
html {
	height:100%;
}
/*.ui-mobile .ui-input-text.ui-focus,
.ui-input-search.ui-focus {
	moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow:none;
}*/
h1 {
	font-size:2.75em;
	color:#5b5b5e;
	margin:0;
	height:48px;
	vertical-align:center;
}
.ui-mobile-viewport .ui-header.ui-bar-a {
	background:#d72135;
	height:48px;
	width:100%;
	position:fixed;
	top:0;
	z-index:1002;
	text-align:center;
	padding:0 5%;
}
.ui-mobile-viewport .ui-content {
	background-color:#fff;
/*	padding-top:96px;
	padding-bottom:50px;*/
	padding-top:15px;
}
.cont-rigtnow-lateron p{ padding-left:45px;}
.ui-btn-back.ui-shadow {
	box-shadow: none;
}
.ui-mobile .ui-mobile-viewport .ui-footer.ui-bar-a {
	background:#d72135;
	width:100%;
	position:fixed;
	bottom:0;
	z-index:1002;
	box-shadow:0 7px 13px -7px #666 inset;
	-webkit-box-shadow:0 7px 13px -7px #666 inset;
	-moz-box-shadow:0 7px 13px -7px #666 inset;
}
.ui-mobile .ui-mobile-viewport .ui-footer.ui-bar-a .ui-btn {
	padding:12px 0;
}
.ui-icon-loading {
	background: url("../img/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent;
}
.context-holder.con-adj h2 {
	font-weight:400;
	font-size:1em;
	padding:0 65px;
}
.context-holder.con-adj {
	padding:0;
}
.context-holder, .context-holder h2, .context-holder span {
	font-family: Helvetica, Arial, sans-serif;
	color:#5b5b5e;
}
.context-holder {
	font-size:1em;
	padding-bottom:5%;
}
.context-holder h2 {
	font-size:1.375em;
	font-weight:700;
	margin:10px 0;
	text-align:center;
}
.context-holder span {
	font-size:0.875em;
	text-align:center;
	display:inline-block;
	width:100%;
}
.ui-mobile-viewport * {
	text-shadow:none;
}
.ui-header img {
	/*max-height:100%;
	max-width:100%;*/
	position: relative;
	top: 12%;
}
.ui-mobile-viewport .ui-shadow-inset {
	border:0;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.box-hd {
	border:1px solid #bbbcbd;
	margin:10% 0;
}
.box-hd-tw {
	display:block;
}
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {
 font-size:1.375em;
}
.ui-mobile .ui-body-c, .ui-overlay-c {
	background:#fff;
}
.ui-mobile-viewport .ui-header .ui-title, .ui-mobile-viewport .ui-footer .ui-title {
	margin:0;
}
.ui-mobile-viewport .ui-header .ui-title {
	color:#fff;
	text-align:center;
	font-size:24px;
	font-weight:400;
	line-height:48px;
}
.ui-icon-avat .ui-shadow-inset {
	background: url("../img/icon-set.png") no-repeat scroll 0 0 transparent;
	margin: 0;
	padding: 5px 5px 5px 30px;
}
.ui-icon-pass .ui-shadow-inset {
	background: url(../img/icon-set.png) no-repeat 0 -31px;
	margin: 0;
	padding: 5px 5px 5px 30px;
}
.ui-login-but, .ui-reset span.ui-btn-inner {
	background: transparent url(../img/icon-set.png) no-repeat right -61px;
	border:0;
	outline:0;
	background-color: #d62135;
	display:block;
	text-decoration:none; /* Old browsers */
	color:#fff;
	font-size:1em;
	font-weight:400;
	width:100%;
	padding:6px 0;
	text-align:center;
	cursor:pointer;
}
.login-wrapper {
	margin:0 auto;
	padding-right:15%;
	padding-bottom:50%;
	padding-left:15%;}
.form-hold {
	text-shadow:1px 1px 1px #7a0d1a;
	color:#fff;
	font-size:1.125em;
	font-weight:400;
}
.form-hold label {
	clear:both;
	display: block;
}
.ui-mobile-viewport .ui-input-text {
	padding:2px 0 2px 32px;
	color:#000;
}
input[type="text"], input[type="password"] {
	color:#a6a6a6;
	clear:both;
	display:block;
	padding:0.25em 0;
	font-size:0.6875em;
	text-indent:10px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:0;
	width:100%;
}
.ui-mobile .ui-focus, .ui-mobile .ui-btn:focus {
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	background-color:none;
}
/* booking type page start */
.ui-red-but {
	border:0;
}
.ui-mobile-viewport .ui-strip .ui-content {
	padding:60px 0;
}
.sec-block-hd {
	padding:0 30px 10px;
	position:relative;
	min-width:200px;
}
.ui-mobile-viewport .sec-block-hd div.ui-input-text {
	border:1px solid #bbbcbd;
	padding:0;
	width:80%;
	float:left;
}
.ui-mobile .ui-adj .ui-content {
	padding-top:48px;
	padding-bottom:50px;
}
.ui-mobile .sec-block-hd .ui-select span.ui-icon {
	margin:  0;
	display:block;
	top:1px;
	width:36px;
	height:37px;
	right:0;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	z-index:10000;
}
.ui-mobile .sec-block-hd .ui-select span.ui-icon {
	margin:  0;
	display:block;
	background: #949599 url("../img/icon-select.png");
	background-size:contain;
}
.ui-body-c .ui-link.ui-icon-rgtnow, .ui-body-c .ui-link.ui-icon-laton {
	font-size:1.2em;
	margin:15px 45px 35px 45px;
	clear:both;
	display:block;
	padding:10px;
	height :32px;
	line-height:32px;
	text-align:left;
	text-indent:75px;
	color:#fff;
	font-weight:400;
	text-decoration:none;
}
.ui-icon-rgtnow, .ui-icon-laton {
}
.ui-icon-rgtnow {
	background: url(../img/icon-v.png) no-repeat scroll 10px 10px #D72135;
}
.ui-icon-laton {
	background: url(../img/icon-v.png) no-repeat scroll  10px -89px #D72135;
}
.ui-footer a.ui-btn {
	background:none;
	border: 0 none;
	moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow:none;
	display:block;
}
.ui-footer a.ui-btn .ui-btn-inner {
	border:0;
}
.ui-footer.split-in a {
	width:46%;
	display:inline-block;
	margin:0 1%;
}
.ui-footer.split-in a:second-child {
 float:right;
}
.ui-page {
    -webkit-backface-visibility: hidden;
}
.ui-btn-back{
	position:absolute;
	left:0;
	top:0 !important;
	height:40px;
	width:40px;
	background:#D72135 url(../img/icon-v.png) no-repeat 7px -205px;
	border:none !important; 
	box-shadow: none;
	-webkit-box-shadow: !important; 
	text-shadow:!important; 
	border:none !important; 
}
.ui-btn-back * {
	-webkit-box-shadow: none;
	text-shadow:none;
	border:none !important; 
}
/*.ui-page .ui-btn-back .ui-btn-inner {
	border:0;
}*/
.ui-mobile-viewport .ui-content.con-reset {
	padding-bottom: 50px;
	padding-top: 0px;
}
.ui-content.con-reset .context-holder.con-adj h2 {
	padding:0 25px 0 0px;
	text-align:left;
	font-size:1.088em;
}
label.ui-select {
	color:#D72135;
	font-weight:700;
}
.ui-select .ui-btn {
	border:0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.ui-select .ui-mini.ui-btn-icon-right .ui-btn-inner {
	background-color:#ababab;
	border-radius:5px;
}
.ui-select .ui-btn-text {
	color:#fff;
	text-align:right;
}
.con-reset .ui-select .ui-mini.ui-btn-icon-right .ui-btn-inner {
	padding-right:42px;
	padding-bottom:10px;
	padding-top:10px;
}
.ui-now-contr div.ui-select {
	padding-bottom:6%;
}
.ui-body-c .ui-link.ui-run-btn {
	padding:0.8em 0.55em;
	display:block;
	color: #fff;
	font-weight: 400;
	font-size:1em;
	background-color:#D72135;
	text-decoration:none;
	margin-top: 15px;
	text-align:center;
}
.ui-body-c .ui-link.ui-run-btn span.but-hd 
{
    padding: 0 45px 0 0;
}
.ui-body-c .ui-link.ui-run-btn span.search ,.book-room ,.success{
    display: inline-block;
    height: 43px;
    margin-top: -13px;
    position: absolute;
    width: 48px;
}


span.search{
	background: url(../img/icon-v.png) no-repeat right -323px;
}
span.book-room{
	background: url(../img/ic_book_room.png) no-repeat right;
}
span.success{
	background: url(../img/ic_home.png) no-repeat right;
}
.icon-calendar {
	display: inline-block;
	width: 47px;
	height: 24px;
	vertical-align: middle;
	font-size: 10px;
	text-indent: -999px;
	background: url(../img/Mobile-success.png) no-repeat 0 0;
}
ul.list-style {
    list-style:none; 
    padding:0; 
    margin:0;
    }
.list-style li {
    border-top:1px solid #ccc; 
    padding:15px 25px;
    font-size:0.9375em;
}
.list-style li a {
	text-decoration: none;
}
.ui-icon-calendar {
	font-size: 12px;

}
#open-rooms-now .ui-content {
    padding-left:0;
    padding-right:0;
}
#open-rooms-now .context-holder {
    padding-left:15px; 
    padding-right:15px;
}
.room-no {
    color: #D72135;
    font-weight: 700;
    font-size:1em;
}
.room-cap, .room-avb {
    color: #666;
    font-size:0.9375em;
}
/*Room Details*/
#room-details{
	
}
.details-room-no {
    color: #D72135;
    font-weight: 1000;
    font-size:3em;
}
.details-room-cap, .details-room-avb {
    color: #666;
    font-size:1em;
}

.room-avb span {
    font-weight:700;
}
.list-style li .end-res {
    text-align:center;
    padding:10px;
    color:#999;
}
.ui-mobile .ui-mobile-viewport div:empty.ui-footer.ui-bar-a {
    height:15px;
    }
#booking-type-page-footer {
    background: #D72135 url(../img/v-dot.png) no-repeat center center;
    }
.ui-mobile .ui-select .ui-icon {
    background: url(../img/icon-v.png) no-repeat 0 -274px;  
    margin-top: -14px;
    height: 29px;
    width: 29px;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}

.ui-select .ui-mini.ui-btn-icon-right .ui-icon {
	background-size:50px 500px;
}

/*Adding new class*/
.cont-rigtnow-lateron{
    display: table-cell;
    position: absolute;
    margin-top:auto;
    /*margin-top:20%;*/
    vertical-align: middle;
    width: 100%;
    left:0;
}
.cont-rigtnow-lateron a{ left:0; right:0; margin:15px 0 35px;}
.cont-findroom-now{
    display: table-cell;
    position: absolute;
    /*top: 19%;*/
    vertical-align: middle;
    width: 100%;
    left:0;
    right:0;
}
.cont-findroom-inner { margin:0 1.25%;}
.findroom-btmsearch{ width:100%; position:fixed; bottom:25px;}
.findroom-btmsearch .ui-run-btn{ margin:0 1.25%;}
.endofresult-outer{ display: table-cell; left: 0; position: absolute;
    right: 0; vertical-align: middle; width: 100%;}
.mob-hd{ display:block; margin:0 auto;}
.tab-hd{ display:none;}